:root {

    --gris-medio:#8C8C8C;
    --gris-claro:#F3F3F3;
    --dark:#120E21;
    --red:#F20C36;
    --secu-red:#EB3349;

}

/* COLORES */
.gris-medio {
    color: #8C8C8C;
}

.dark {
    color: #120E21;
}
.red {
    color: #F20C36;
}
.secundaryred {
    color: #EB3349;
}
.gris-claro {
    color:#F3F3F3;
}

* {
    box-sizing: border-box;
    font-family: 'Red Hat Display';

}

body {
    background-color: #FAF9FE;
}

.body2 {
    min-width: 375px;
    max-width: 450px;
    margin: auto;
}

header{
    width: 320px;
    height: 31px;
    margin-top: 43px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 35px;
}

header form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* header h3{

font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 26px;
} */

header button {
    background: none;
    border: none;
}

header img{
width: 30px;
height: 30px;

}

.emisiones {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 25px;
    font-style: normal ;
    font-weight: 900;
    font-size: 20px;
    line-height: 46px;
}
.emisiones a{
    text-decoration: none;
}

h1 {
width: 330px;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
font-style:normal;
font-weight: 900;
font-size: 35px;
line-height: 46px;
}

.filtro {
    text-align: center;
    margin-bottom: 25px ;
}

.lista-creditos {
    
width: 350px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
justify-content: center;
}

.cabecera {
    
width: 350px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;

}

.cabecera div{
    
width: 50%;
gap: 10px;
}

.right{
    text-align: right;
}
.nombre {
font-weight: bold;
font-size: 20px;
line-height: 26px;
}
.cargo {
font-weight: bold;
font-size: 15px;
line-height: 20px;
}
.localidad {
font-weight: bold;
font-size: 15px;
line-height: 20px;
}

.fecha {
font-weight: normal;
font-size: 12px;
line-height: 160%;
}
.credito {
display: flex;
flex-direction: column;
border-color: #8C8C8C;
border-bottom: 3px outset black;
padding-bottom: 10px;
}

.descripcion {
width: 100%;
margin-bottom: 30px;

}
.botones {
     
width: 80%;
margin-left: 50px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.principal,.secundario {
width: 94px;
height: 34px;
border-radius: 4px;

}
.principal {
background-color:#D3D4D8;
border:none;
color: #F20C36;
font-weight: 500;
font-size: 16px;
line-height: 160%;
}
.secundario {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--gris-medio);
    background-color: #FAF9FE;
border-color: #8C8C8C;
}

.delete {
    
    background-color:#ffffff;
border:none;
color: #F20C36;
/* font-weight: 500; */
font-size: 16px;
/* line-height: 160%; */
/* width: 10px; */
}

.credito {
    margin-bottom:30px;
    margin-top:10px;
}

/* footer {
    position: fixed;
   bottom: 30px;
   right: 30px;
} */



/* VENTANA MODAL */

.container-modal {
    /* opacity: 0; */
    display: none;
    width: 240px;
    height: 185px;
    position:fixed;
    z-index:1000;
    top:275px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color:var(--gris-claro);
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.50);
    transition: opacity 0.3s ease;
}
.show {
    pointer-events: auto;
    /* opacity: 1; */
    display: block;
  }
.container-modal .close{
   position: absolute;
   right: 10px;
   color:var(--dark);
   top:5px;
   cursor:pointer;
}

.container-modal .modal-show{
    visibility: visible;
}

.modal {
    display:flex;
    flex-direction: column;
    padding: 12px;
    margin:auto;
    align-items: center;
    }
.modal button {
    width: 210px;
    height: 42px;
    margin-top: 12px;
    border:none;
    border-radius: 8px;
    color:var(--gris-claro);
    background-color: var(--secu-red);
    font-weight: 500;
font-size: 16px;
line-height: 160%;
}

.modal p {
    color:var(--dark);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
}







@media (min-width: 764px) {

    .body2 {
        min-width: 764px;
        max-width: 764px;
        
    }
    
    header{
        width: 320px;
        height: 31px;
        margin-top: 43px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 35px;
    }

    .lista-creditos {
    
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    
    .credito {
        border-color: #8C8C8C;
        border-bottom: 3px outset black;
        padding-bottom: 10px;
    }

    .cabecera {
            
        width: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
        }
        
        .descripcion {
            width: 100%;
            margin-bottom: 30px;
            
            }
        .botones {
                 
            width: 300px;
            margin-left: 180px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            }
        
            
            
}