:root {

    --gris-medio:#8C8C8C;
    --gris-claro:#F3F3F3;
    --dark:#120E21;
    --red:#F20C36;
    --secu-red:#EB3349;
    --light-red:#FBEEFF;

}
* {
    box-sizing: border-box;
    font-family: 'Red Hat Display';

}
body {
    background-color: #FAF9FE;
}

.body2 {
    

    background-color: #FAF9FE;
    min-width: 375px;
    max-width: 375px;
    min-height: 600px;
    margin: auto;
}



h1 {


padding-left:7%;
/* margin-left: 24px; */
font-weight: 900;
font-size: 35px;
line-height: 46px;
color: var(--dark)

}

p {
    
/* margin-left: 24px; */
font-weight: 900;
font-size: 30px;
line-height: 46px;
color: var(--dark)
}

.campo-emision {

    background: #FFFFFF;
    width: 90%;
    /* height: 150px; */
    margin: auto;
    margin-bottom: 30px;
    
    border-radius: 8px;
    /* display: flex;
    flex-direction: column; */

}

.campo-emision .primer-fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.campo-emision h3 {
    color: #EB3349;
    margin: 5px;
}

.campo-emision p {

    margin: 5px;
    margin-bottom: 18px;
    color: #5E5656;

}

.botones {
    

    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones i {
    margin-left: 10px;
    
}

.botones .ver {

    width: 94px;
    height: 34px;
    border-radius: 4px;

    font-family: 'Public Sans';
    background-color:#FAF9Fe;
    border:none;
    color: #F20C36;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
   
}

.botones .delete {
    
    background-color:#ffffff;
border:none;
color: #F20C36;
/* font-weight: 500; */
font-size: 16px;
/* line-height: 160%; */
/* width: 10px; */
}

.botones .modificar {

    width: 94px;
    height: 34px;
    border-radius: 4px;
    border: 2px solid #8C8C8C;
    box-sizing: border-box;

    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--gris-medio);
    background-color: #FAF9FE;
    border-color: #8C8C8C;
}

.publicar {

    

    display: block;
    width: 263px;
    height: 54px;
    color: #FFFFFF;
    background: #EB3349;
    border-radius: 60px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    font-family: 'Public Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

}

