.header2 {

    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top:20px; */
}

.header2 img{
    width: 16px;
    height: 15px;
    margin-left:24px;
}
.header2 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 10px;
    color:var(--gris-medio)
}



@media (min-width: 764px) {

    .header2 {

    width: 70%;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:20px;
    }
    
    .header2 img{
        width: 16px;
        height: 15px;
        margin-left:24px;
    }
    .header2 p {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-left: 10px;
        color:var(--gris-medio)
    }
    
}