<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %>

<body>
    <div class="body2">
        
        <%- include ("../partials/header2") %>
        
        <h1>Nuevo crédito</h1>
        <!-- <p class="fecha">fecha: 00/00/00</p> -->
        
        <form action="/creditos/agregar" method="POST" class="formulario">

            <section class="inputs">
                <input name="fecha" type="date" placeholder="Fecha" >
                <input name="localidad" type="text" placeholder="Localidad" >
                <input name="nombre" type="text" placeholder="Nombre" >
                <input name="cargo" type="text" placeholder="Cargo" >
                <textarea name="descripcion" placeholder="Descripción" cols="30" rows="10"></textarea>
                <select name="programa" id="programa" class="select">
                    <option value="1">Informe 4</option>
                    <option value="2">Tal Cual</option>
                    <option value="3">Vivo el Jueves</option>
                </select>
                <button  type="submit">Guardar</button>
                <!-- <button type="submit" value="Guardar" /> -->

            </section>

        </form>
    </div>
</body>
