<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS-->
    <link rel="stylesheet" href="/public/css/crear-emision.css">

<!--FONT RED HAT DISPLAY-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100;200;400;500;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="body2">
        <header>
            <img src="/public/images/back.png" alt="back">
            <p>Back</p>
        </header>
        <h1>Crear emisión</h1>
        <select name="programa" id="programa" class="select">
            <option value="1">Informe 4</option>
            <option value="2">Tal Cual</option>
            <option value="3">Vivo el Jueves</option>
        </select>
        <div class="fecha">
            <label for="fecha"> Fecha: </label>
            <input type="date" id="fecha" name="fecha">
        </div>
        <button class="guardar"> Guardar </button>

        <div class="emision-creada">
            <h3> Informe 4 </h3>
            <p> Haz creado una nueva emisión </p>
        </div>
    </div>
