<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS-->
    <link rel="stylesheet" href="/public/css/creditos.css">

<!--FONT RED HAT DISPLAY-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b57cc6149.js" crossorigin="anonymous"></script>    
    <title>Document</title>
</head>

<body>
    <header>
        <h3 class="gris-medio">Bienvenido</h3>
        <img src="/public/images/Search icon.png" class="gris-medio" alt="buscar">
    </header>
<h1 class="dark">Créditos recientes</h1>

<section class="lista-creditos">
<article class="credito">
<div class="cabecera dark">
    <div class="nombre">Rosemary Copler</div>
    <div class="right gris-medio">00/00/00</div>
    <div class="cargo">Cargo</div>
    <div class="right">Localidad</div>
</div>
<p class="descripcion gris-medio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, aperiam?</p>

<div class="botones">
    <button type="button" class="principal">Utilizar</button>
    <button type="button" class="secundario">Modificar</button>
</div>

</article>
<article class="credito">
    <div class="cabecera dark">
        <div class="nombre">Rosemary Copler</div>
        <div class="right gris-medio">00/00/00</div>
        <div class="cargo">Cargo</div>
        <div class="right">Localidad</div>
    </div>
    <p class="descripcion gris-medio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, aperiam?</p>

    <div class="botones">
        <button type="button" class="principal">Utilizar</button>
        <button type="button" class="secundario">Modificar</button>
    </div>

    </article>
    <article class="credito">
        <div class="cabecera dark">
            <div class="nombre">Rosemary Copler</div>
            <div class="right gris-medio">00/00/00</div>
            <div class="cargo">Cargo</div>
            <div class="right">Localidad</div>
        </div>
        <p class="descripcion gris-medio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, aperiam?</p>

        <div class="botones">
            <button type="button" class="principal">Utilizar</button>
            <button type="button" class="secundario">Modificar</button>
        </div>

        </article>


</section>
<footer>
    <img src="/public/images/mas.png" alt="">
</footer>
</body>
</html>
