<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS-->
    <link rel="stylesheet" href="/public/css/emisiones.css">

<!--FONT RED HAT DISPLAY-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/5b57cc6149.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>

<body>
    <div class="body2">
        <header>
            <img src="/public/images/back.png" alt="back">
            <p>Back</p>
        </header>
        <h1>Emisiones</h1>
        <fieldset class="campo-emision">
            <div class="primer-fila">
                <h3>Informe 4</h3>
                <input type="radio" style="color:#8C8C8C" >
            </div>
            <p>fecha: 00/00/0000</p>
            <div class="botones">
                <button class="ver">Ver Créditos</button>
                <button class="modificar">Modificar</button>
                <i class="fas fa-trash-alt"></i>
                <!-- <button> <i class="fas fa-trash-alt"></i> </button> -->
            </div>
        </fieldset>

        <fieldset class="campo-emision">
            <div class="primer-fila">
                <h3>Informe 4</h3>
                <input type="radio" style="color:#8C8C8C" >
            </div>
            <p>fecha: 00/00/0000</p>
            <div class="botones">
                <button class="ver">Ver Créditos</button>
                <button class="modificar">Modificar</button>
                <i class="fas fa-trash-alt"></i>
                <!-- <button> <i class="fas fa-trash-alt"></i> </button> -->
            </div>
        </fieldset>

        <button class="publicar">Publicar</button>
        
    </div>
</body>