<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="/public/css/login.css">

<!--FONT RED HAT DISPLAY-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="/public/images/logonext.png" class="logo" alt="logo-next">
    </header>
    <div class="container">
        <div class="titulo">Inicia sesión:</div>
            <form action="" method="POST" class="formulario" id="formulario">
                <div class="inputs">
                    <input type="text" class="formulario-input" name="usuario" id="usuario" placeholder="usuario@gmail.com" required>
                    <input type="password" class="formulario-input" name="password" id="password" placeholder="*********" required>
                    <button type="button">Log In</button>
                    </div>
            </form>
        </div>
    
</body>
</html>
