<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS-->
    <link rel="stylesheet" href="/public/css/nuevocredito.css">

<!--FONT RED HAT DISPLAY-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="body2">
        <header>
            <img src="/public/images/back.png" alt="back">
            <p>Back</p>
        </header>
        <h1>Modificar crédito</h1>
        <!-- <p class="fecha">fecha: 00/00/00</p> -->
        <form action="" method="POST" class="formulario" id="formulario">
            <section class="inputs">
                <input type="text" placeholder="Fecha" id="fecha">
                <input type="text" placeholder="Localidad" id="localidad">
                <input type="text" placeholder="Nombre" id="nombre">
                <input type="text" placeholder="Cargo" id="cargo">
                <textarea name="description" placeholder="Descripción" id="description" cols="30" rows="10">
                </textarea>
                <button type="button">Guardar</button>
            </section>

        </form>
    </div>
</body>
