<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS-->
    <link rel="stylesheet" href="/public/css/utilizar.css">

<!--FONT RED HAT DISPLAY-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="body2">
    <header>
        <img src="/public/images/back.png" alt="back">
        <p>Back</p>
    </header>
    <h1>Utilizar</h1>
<div class="credito">
    <div class="container">
        <div class="cabecera">
            <p>fecha:00/00/00</p>
            <p>LOCALIDAD</p>
        </div>
        <div class="contenido">
            <h3 style="margin: 0px;">Rosemary Copler</h3>
            <h4 style="margin: 0px;">Cargo</h4>
            <p class="descripcion" tyle="margin: 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
        </div>
    </div>
</div>
                <div class="emisiones">
                     <h2 style="margin: 24px;">Emisiones disponibles</h2>

                    <div class="container-emision">
                      <h4 style="margin: 0px;">Informe 4</h4>
                      <div class="fechainput">
                        <p style="margin: 0px;">Fecha: 00/00/00</p>
                        <input type="radio" style="color:#8C8C8C" >
                      </div>
                    </div>

                </div>
                <div class="bloques">
                    <h5>Bloque:</h5>
                    <input type="text">
                    <h5>Posicion:</h5>
                    <input type="text">
                </div>

                <button type="button">Guardar</button>


    </div>
</body>
