<footer>

    <div class="container-modal" id="container-modal">
        <p style="margin: 0px;" class="close" id="close"> X </p>
        <div class="modal">
            <p style="margin: 0px;">Crear nuevo:</p>
            <a href="/creditos/nuevocredito"> <button type="button">Crédito</button> </a>
            <a href="/emisiones/crear-emision"> <button type="button">Emisión</button> </a>
        </div>
    </div>
    
    <img id="open-new" src="/images/mas.png" alt="logo más">
    
</footer>