<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %>
    
<body>
    
    <header>
        <img src="/images/logonext.png" class="logo" alt="logo-next">
    </header>
    <div class="container">
        <div class="titulo">Inicia sesión:</div>
            <form action="/user/login" method="POST" class="formulario" id="formulario">
                <div class="inputs">
                    <input type="text" class="formulario-input" name="usuario" id="usuario" placeholder="usuario@gmail.com" required>
                    <input type="password" class="formulario-input" name="password" id="password" placeholder="*********" required>
                    <button type="submit">Log In</button>
                    </div>
            </form>
        </div>
    
</body>
</html>
